/* CSS styling for "YearBiggestSingleExpense.js" (i.e., the `<YearBiggest-
SingleExpense />` component): */
.year-biggest-single-expense {
    background-color: #1d5464;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
    width: 33%;
}

.year-biggest-single-expense h4 {
    margin-top: .5rem;
    margin-bottom: .125rem;
}
  
.year-biggest-single-expense h5 {
    margin-top: .125rem;
    margin-bottom: .5rem;
    font-weight: normal;
}

.horizontal-line {
    width: 85%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 1px solid #fbfbfb;
}

/* Media query that executes styling changes when width of user's screen is at or 
below 600 pixels: */
@media (max-width: 600px) {
    .year-biggest-single-expense {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .year-biggest-single-expense h4 {
        padding: 0 5px;
        font-size: 10px;
    }

    .year-biggest-single-expense h5 {
        font-size: 8px;
        /* Ensuring that any ultra-long, single-string expense item names can be 
        wrapped to prevent element overflow: */
        width: 4.25rem;
        overflow-wrap: break-word;
    }
}

/* Media query that executes styling changes when width of user's screen is at or 
above 601 pixels: */
@media (min-width: 601px) {
    .year-biggest-single-expense {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .year-biggest-single-expense h5 {
        /* Ensuring that any ultra-long, single-string expense item names can be 
        wrapped to prevent element overflow: */
        width: 10rem;
        overflow-wrap: break-word;
    }
}