/* CSS styling for "YearNumberOfExpenses.js" (i.e., the `<YearNumberOfExpenses />` 
component): */
.year-number-of-expenses {
    background-color: #4792a9;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    text-align: center;
    width: 33%;
}

.year-number-of-expenses h4 {
    /* Specifying `margin: auto 0;` to better ensure that "Number of Expenses in 
    Calendar Year" text is better-centered on vertical axis: */
    margin: auto 0;
    max-width: 70%;
    padding-left: 1rem;
    text-align: left;
}

.year-number-of-expenses h5 {
    font-weight: normal;
    margin: auto;
    text-align: right;
}

.vertical-line {
    height: 80%;
    border-left: 2px solid white;
    margin-left: 1.3rem;
    margin-right: .2rem;
    margin-top: .5em;
}

/* Media query that executes styling changes when width of user's screen is at or 
below 600 pixels: */
@media (max-width: 600px) {
    .year-number-of-expenses h4 {
        padding: 0 5px;
        font-size: 10px;
    }

    .vertical-line {
        height: 85%;
        margin-left: .25rem;
        margin-right: .2rem;
        margin-top: .5em;
    }

    .year-number-of-expenses h5 {
        font-size: 8px;
    }
}